<po-page-edit
  (p-cancel)= cancel()
  (p-save)= save()>
  <div class="po-row">

    <po-widget p-title="Cartas" class="po-sm-12 po-md-6 po-lg-6 po-xl-6">
      <div class="po-row">
        <div class="po-sm-12 po-md-12 po-lg-12 po-xl-12">
          <po-multiselect name="cartasEspecias" [(ngModel)]="cartasEspecias" p-placeholder="Cartas Especiais"
            p-hide-search="true" [p-options]="opcoesCartasEspecias">
          </po-multiselect>
        </div>
      </div>

      <div calss="po-row">
        <po-dropdown class="po-mb-1 po-sm-12 po-md-12 po-lg-12 po-xl-12" p-label="Aplicar Sequência"
          [p-actions]="sequencias">
        </po-dropdown>
      </div>

      <div class="po-row">

        <po-input [(ngModel)]="ordemCarta" class="po-mb-1 po-sm-3 po-md-3 po-lg-3" p-label="Ordem"
        p-maxlength="2">
        </po-input>

        <po-input [(ngModel)]="novaCarta" class="po-mb-1 po-sm-3 po-md-3 po-lg-5" p-label="Carta"
        p-maxlength="10" (keyup.enter)="addCarta()">
        </po-input>

        <po-button (p-click)="addCarta()" class="po-mt-4  po-sm-6 po-md-6 po-lg-4" p-label="Adicionar"
          p-type="primary">
        </po-button>

      </div>

      <div class="po-row po-mb-1">
        <po-disclaimer-group class="po-mb-1" [p-disclaimers]="cartas" p-hide-remove-all="true" (p-change)="proximaOrdem()">
        </po-disclaimer-group>
      </div>

    </po-widget>

    <po-widget p-title="Permissões" class="po-sm-12 po-md-6 po-lg-6 po-xl-6">

      <po-switch
        name="cbResetar"
        [(ngModel)]="configSala.jogadorResetaJogo"
        p-label-off="Apenas Administrador"
        p-label-on="Todos"
        p-label="Resetar o Jogo"> </po-switch>
      <po-divider class="po-sm-12"></po-divider>

      <po-switch
        name="cbFinalizar"
        [(ngModel)]="configSala.jogadorFinalizaJogo"
        p-label-off="Apenas Administrador"
        p-label-on="Todos"
        p-label="Finalizar o Jogo"> </po-switch>
      <po-divider class="po-sm-12"></po-divider>

      <po-switch
        name="removeJogador"
        [(ngModel)]="configSala.jogadorRemoveJogador"
        p-label-off="Apenas Administrador"
        p-label-on="Todos"
        p-label="Remover jogador"> </po-switch>
      <po-divider class="po-sm-12"></po-divider>

      <po-switch
        name="removeAdm"
        [(ngModel)]="configSala.jogadorRemoveAdministrador"
        p-label-off="Apenas Administrador"
        p-label-on="Todos"
        p-label="Remover Administrador"> </po-switch>
    </po-widget>
  </div>


  <po-loading-overlay *ngIf="carregando"
      p-screen-lock="false"
      p-text="Carregando" >
  </po-loading-overlay>
</po-page-edit>