<po-page-default>
  <po-widget p-title="Login" class="po-sm-12 po-md-6 po-lg-4 po-xl-3">
    <form #f="ngForm">
        <po-login
          class="po-sm-12"
          p-label="Usuário"
          p-placeholder="Informe seu usuário"
          name="userLogin"
          [(ngModel)]="authLogin.userName"
          p-clean
          [p-maxlength]=20
          p-required>
        </po-login>

        <po-password
          class="po-sm-12"
          p-label="Senha"
          p-placeholder="Informe sua senha"
          name="senha"
          [(ngModel)]="authLogin.password"
          [p-minlength] = 4
          [p-maxlength]=10
          p-clean
          (keyup.enter)="login()"
          p-required>
        </po-password>

        <po-divider class="po-sm-12"></po-divider>

        <po-button
          (p-click)="login()"
          class="po-md-12 po-mb-1"
          p-label="Entrar"
          p-type="primary" >
        </po-button>

        <po-button
          (p-click)="cadastrar()"
          class="po-md-12 po-mb-1"
          p-label="Cadastrar"
          p-type="default" >
        </po-button>

        <po-button
          (p-click)="esqueceuSenha()"
          class="po-md-12 po-mb-1"
          p-label="Esqueceu a senha?"
          p-type="default" >
        </po-button>
    </form>

    <po-modal
      #modalEsqueceuSenha
      [p-click-out]=true
      [p-hide-close]=false
      [p-primary-action]="confirmModal"
      [p-secondary-action]="closeModal"
      p-size="sm"
      p-title="Recuperar Senha">

      <p class="po-mb-1">Para recuperar sua senha vamos enviar um e-mail com instruções. </p>

        <po-login
          class="po-sm-12"
          p-label="Usuário"
          p-placeholder="Informe seu usuário"
          name="userLogin"
          [(ngModel)]="userNameEsqueceuSenha"
          p-clean
          [p-maxlength]=20
          (keyup.enter)="enviarEmailEsqueceuSenha()"
          p-required>
        </po-login>

      <p class="po-mb-1">Se não tiver acesso ao e-mail contacte o suporte.</p>
    </po-modal>
  </po-widget>
</po-page-default>

<po-loading-overlay *ngIf="carregando"
  [p-screen-lock]=true
  p-text="Aguarde..." >
</po-loading-overlay>