<po-page-default>
  <div class="po-row">
    <div class="pad-b-10 po-sm-12 po-md-7 po-lg-6 po-xl-6">
      <po-widget p-title="Sala: {{sala.id}}" class="pad-b-10 po-sm-12 po-md-12 po-lg-12 po-xl-12" (p-setting)="pageSlide.open()">
        <app-votacao *ngIf="!sala.jogoFinalizado"></app-votacao>
        <app-resultados *ngIf="sala.jogoFinalizado"></app-resultados>
      </po-widget>
    </div>

    <div class=" pad-b-10 po-sm-12 po-md-5 po-lg-6 po-xl-6">
      <!--Jogadores-->
      <div class="pad-b-10 po-sm-12 po-md-12 po-lg-7 po-xl-8">
        <app-jogadores>
        </app-jogadores>
      </div>

      <!--Adminstrador-->
      <div class="pad-b-10 po-sm-12 po-md-12 po-lg-5 po-xl-4">
        <app-administradores>
        </app-administradores>
      </div>

    </div>
  </div>
</po-page-default>

<po-page-slide
  #pageSlide
  p-title="Configuração"
  [p-click-out]=true
  p-size="auto">
  <app-configurar-sala (closeConfig)="pageSlide.close()"></app-configurar-sala>
</po-page-slide>

<po-loading-overlay *ngIf="carregando || reconectando"
[p-screen-lock]=false
[p-text]="textoLoading">
</po-loading-overlay>