<!--Cartas-->
<div *ngIf="souJogador" class="po-sm-12">
  <po-button
    #card
    *ngFor="let carta of salaConfig.cartas"
    class="po-p-1 po-sm-6 po-md-6 po-lg-4"
    p-label={{carta.value}}
    (p-click)="votar(carta)"
    p-type={{carta.typeButton}}>
  </po-button>
</div>

<!--Botões-->
<div class="row">
  <po-button
    *ngIf="possoRestarJogo"
    class="po-p-1 po-sm-12 po-md-6 po-lg-6 po-xl-6 selecionado"
    (p-click)="resetarJogo()"
    p-label="Resetar"
    p-type="primary">
  </po-button>
  <po-button
    *ngIf="possoFinalizarJogo"
    class="po-p-1 po-sm-12 po-md-6 po-lg-6 po-xl-6"
    (p-click)="finalizarJogo()"
    p-label="Finalizar"
    p-type="primary">
  </po-button>
</div>