<div *ngIf="!sala.jogoFinalizado">
  <!--Cartas-->
  <!-- <div *ngIf="isJogador" class="po-sm-12"> -->
  <div class="po-sm-12">
    <po-button
      #card
      *ngFor="let carta of sala.configuracao.cartas"
      class="po-p-1 po-sm-6 po-md-6 po-lg-4"
      p-label={{carta.value}}
      (p-click)="votar(carta)"
      p-type={{carta.typeButton}}>
    </po-button>
  </div>

  <p *ngIf="sala.configuracao.jogadorFinalizaJogo">true</p>
  <p *ngIf="!sala.configuracao.jogadorFinalizaJogo">false</p>


  <!--Botões-->
  <!-- <div class="row">
    <po-button *ngIf="isPodeExec(configSala.resetar)"
      class="po-p-1 po-sm-12 po-md-6 po-lg-6 po-xl-6 selecionado" (p-click)="resetClick(false)"
      p-label="Resetar" p-type="primary">
    </po-button>
    <po-button *ngIf="isPodeExec(configSala.finalizar)" class="po-p-1 po-sm-12 po-md-6 po-lg-6 po-xl-6"
      (p-click)="fimClick()" p-label="Finalizar" p-type="primary">
    </po-button>
  </div> -->
</div>