<po-widget p-title="Jogadores: {{jogadores.length}}">
  <h3 class="po-sm-6 po-md-6 po-lg-6 txt-thf">Jogador</h3>
  <h3 *ngIf="sala.jogoFinalizado" class="po-sm-6 po-md-6 po-lg-6 txt-thf">Ponto</h3>
  <div *ngFor="let jogador of jogadores">
    <div class="po-row">
      <h4
        (click)="remover(jogador)"
        [class.click]="jogador.id != this.meuIdParticipante && possoRemoverJogador"
        class="po-sm-6 po-md-6 po-lg-6"
        [class.off]="!jogador.online"
        [class.f-bold]="jogador.id === meuIdParticipante">
        <i [class.icooff]="!jogador.online"></i>
        {{jogador.nome}}
      </h4>
      <h4 class="po-sm-6 po-md-6 po-lg-6">
        <span *ngIf="sala.jogoFinalizado"> {{jogador.votoCartaValor}}</span>
        <span *ngIf="!sala.jogoFinalizado && !jogador.votoCartaValor" class="txt-vermelho"> - </span>
        <span *ngIf="!sala.jogoFinalizado && jogador.votoCartaValor > ''" class="po-icon po-icon-ok txt-verde"> </span>
      </h4>
    </div>
  </div>
</po-widget>